*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}


.container {
    min-height: 100vh;
    background: #0D192B;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #FFFFFF;
}


.card{
    margin: 0 auto;
    position: relative; /*Se posiciona como referencia para los elementos hijos (Que utilizarán absolute)*/
    background: #14253D;
    width: 15%;
    aspect-ratio: 0.85;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 
    15px 25px 2px #08101b35,
    -15px 25px 2px #08101b35,
    -25px 40px 5px #08101b1d,
    25px 40px 5px #08101b1d,
    -25px -40px 5px #08101b1d,
    25px -40px 5px #08101b1d;

}

.card::after{
    content: "";
    position: absolute;
    inset: 0; /* Abreviatura para que la posición de todo sea 0-> "Ocupa todo el espacio del contenedor*/
    opacity: 0;
    background: linear-gradient(to bottom, #14253d00 60%, #4a0707a3 100%);
    transition: opacity 1.5s ease;
}

.card:hover::after{
    opacity: 1;
    border-radius: 16px;
}


.card > img:first-child{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    transition: border 2s;
}

.card > img:first-child:hover{
    border: 2px solid red;
}

.card > *:not(:last-child){
    margin-bottom: 20px;
}

.card > *:last-child{
    margin-bottom: 5px;
}

.card h3{
    color: #FFFFFF;
}

.card p{
    color: #8BACD9;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    display: flex;
    align-items: center;
    gap: 5px;
}

hr{
    border: none;
    height: 1px;
    background-color: #2F415B;
}

.footer{
    display: flex;
    align-items: center;
}

.footer img{
    width: 35px;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 50%;
}

.footer p{
    padding-left: 15px;
}
